body {
font-family: 'Titillium Web', sans-serif;



}

#quienes-somos {
	margin-top: 90px;
}

/*#contacto {  
  background: url("nosotros_2.jpg") no-repeat;
}*/


#testimonial {
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top: 40px;
}

.navbar {
  border-bottom: #c0392b 3px solid;
  opacity: .7;
 
}

#home-section {
	background: url("cnto_1.jpg") no-repeat;
	min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-color: #333;
  	color: #fff;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.home-inner {
  padding-top: 200px;
}

@media (max-width: 992px) {
  .home-inner {
    padding-top: 150px;
  }
}
